<template>
  <div>
    <br> 
    <gmap-map ref="mymap" :center="startLocation" :zoom="2" style="width: 100%; height: 700px">

      <gmap-info-window :options="infoOptions" :position="infoPosition" :opened="infoOpened" @closeclick="infoOpened=false">
        {{infoContent}}
      </gmap-info-window>

      <gmap-marker v-for="(item, key) in coordinates" :key="key" :position="getPosition(currentmap)" :clickable="true" @click="toggleInfo(currentmap)" />

    </gmap-map>
  </div>
</template>

<script>
import { mapActions, mapState} from 'vuex'
export default {
  name: "GoogleMap",
  data() {
    return {
      startLocation: {
      lat: 8.537981,
      lng: -80.782127
    },
    coordinates: {
      0: {
        full_name: 'Erich  Kunze',
        lat: '-11.121309', 
        lng: '106.71978'
      },
      1: {
        full_name: 'Delmer Olson',
        lat: '9.08916',
        lng: '-79.52809'
      },
      2: {
        full_name: 'Otro Olson',
        lat: '9.699661',
        lng: '-140.143868'
      }
    },
    infoPosition: null,
    infoContent: null,
    infoOpened: false,
    infoCurrentKey: null,
    infoOptions: {
      pixelOffset: {
        width: 0,
        height: -35
      }
    }
    };
  },

  mounted() {
    /* this.geolocate(); */
  },
  computed:{
      ...mapState(['currentmap','data'])
  },
  methods: {
     getPosition: function(marker) {
      return {
        lat: parseFloat(marker.lat),
        lng: parseFloat(marker.lng)
      }
      console.log('latlng',marker)
    },
    toggleInfo: function(marker, key) {
      console.log('latlng key toggle',marker)
      this.infoPosition = this.getPosition(marker);
      this.infoContent = marker.full_name;
      if (this.infoCurrentKey == key) {
        this.infoOpened = !this.infoOpened;
      } else {
        this.infoOpened = true;
        this.infoCurrentKey = key;
      }
    }
  }
};
</script>