<template>
    <div class="container-fluid">
      <b-row>
        <!-- locations list -->
        <b-col cols="4">
          <b-row
          v-for="(item, index) in data" :key="item.id"
          class="border"
          >
            <b-col cols="2" class="countlocations">
              <span>{{index+1}}</span>
            </b-col>
            <b-col cols="10">
              <div class="mt-3 ml-2">
                <b-row>
                  <b-col md="8">
                    <h3 class="titlelocationlist ">{{item.assigned_to}}</h3>
                    <span class="textlocationlist">{{item.description}}</span>
                    <p>{{item.latitude}}</p>
                    <p>{{item.longitude}}</p>
                  </b-col>
                  <b-col>
                    <b-button variant="primary" @click="latlong.full_name=item.assigned_to, latlong.lat=item.latitude, latlong.lng=item.longitude,mapear(latlong)">Select</b-button>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-col>
        <!-- maps -->
        <b-col class="">
           <div id="">
             <google-map />
           </div>
        </b-col>
      </b-row>
      <!-- <pre>{{locations}}</pre> -->
    </div>
</template>

<script>
import { mapActions, mapState} from 'vuex'
import GoogleMap from "./GoogleMap";

export default {
  name: 'maincontent',
  components: {
    GoogleMap
  },
  data() {
      return {
        map: '',
        mapped: '',

        latlong: {
          full_name: '',
          lat: '',
          lng: '',
        },
        
        items: []
      }
    },
    computed: {
      ...mapState(['data'])
    },
    methods:{
      ...mapActions(['mapear'])
      /* mapear(){
        console.log('change map',this.lat, this.long)
      } */
  }
}

</script>

<style  scoped>

.listgroup{
  border-top: none;
  border-left: none;
  border-right: none;
}



.titlelocationlist{
   color: #181918; 
   font-family: 'DIN 2014-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 600;
}

.countlocations{
   background: #797a7a;
   color: #ffffff; 
   font-family: 'DIN 2014-Regular', Arial, sans-serif;
   font-size: 28px;
   font-weight: 300;
}



</style>