<template>
<div>
  <b-navbar type="dark" variant="dark">
    <b-navbar-nav>
      <h4 class="text-white">{{user.name}}</h4>
      <b-button @click="logout()" variant="danger" class="btns">Logout</b-button>
    </b-navbar-nav>
  </b-navbar>
</div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
name: 'navbar',
data() {
      return {
        logged: []
      }
    },
computed: {
    ...mapState(['token','data','user'])
  },
methods:{
    ...mapActions(['logout'])
  },
  mounted(){
    
  }
}
</script>

<style scooped>
  .btns{
    position:absolute;
    right: 20px !important;
  }
</style>
