<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> -->
      <!-- rootstack test -->
    </div>
    <router-view/>
  </div>
</template>

<script>
import{mapActions, mapState} from 'vuex'
export default {
  methods: {
    ...mapActions(['getToken','getData','getUserInfo']),

  },
  computed:{
      ...mapState(['token'])
    },
  watch: {
    token: {
      handler: function(val, oldVal){
        if(val!=null){
          this.$router.push('/about')
        }else{
          this.$router.push('/')
        }
      }
    }
  }, 
  created(){
    this.getToken()
  },
  mounted(){
    this.getData();
    this.getUserInfo()
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/* 
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
} */
</style>
