<template>
  <div class="about">
    <navbar/>
    <maincontent/>
  </div>
</template>

<script>
import { mapActions, mapState} from 'vuex'
import navbar from '@/components/navbar.vue'
import maincontent from '@/components/maincontent.vue'

export default {
  name: 'About',
  components: {
    navbar,
    maincontent
  },
  computed: {
    ...mapState(['data'])
  },
  methods: {
    ...mapActions(['logout']),

  mounted(){
    this.getData();
  }
    
  },
 
}
</script>