<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <br>
    <h1>RS Test JS</h1>
    <br>
    <div>
    <b-row>
      <b-col class="d-none d-sm-none d-md-block"></b-col>
      <b-col class="m-4">
          <b-form @submit.prevent="login2(user)" @reset="onReset" v-if="show">
           <b-form-group
             id="input-group-1"
             label=""
             label-for="input-1"
             description="We'll never share your email with anyone else."
           >
             <b-form-input
               id="input-1"
               v-model="user.email"
               type="email"
               required
               placeholder="Enter email"
             ></b-form-input>
           </b-form-group>
     
           <b-form-group id="input-group-2" label="" label-for="input-2">
             <b-form-input
               id="input-2"
               v-model="user.password"
               type="password"
               required
               placeholder="Enter password"
             ></b-form-input>
           </b-form-group>
     
           <b-button type="submit" variant="primary">Submit</b-button>
           <b-button type="reset" variant="danger">Reset</b-button>
           <b-button @click="login2()">login2</b-button>
         </b-form>
      </b-col>
      <b-col class="d-none d-sm-none d-md-block"></b-col>
    </b-row>

  </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import {mapActions, mapState} from 'vuex'
export default {
  name: 'Home',
  components: {
    HelloWorld
  },
   data() {
      return {
        user: {
          email: '',
          password: ''
        },show: true
      }
    },
    methods: {
      ...mapActions(['login2','login']),
      /* onSubmit(evt) {
        this.login2(this.user)
        console.log("user submit",this.user)
      }, */
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.password = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>
